div {
    width: 50px;
    height: 50px;
}

#Tomato {
    background-color: Tomato;
}

#MediumSeaGreen {
    background-color: MediumSeaGreen;
}

#SlateBlue {
    background-color: SlateBlue;
}

#LightGray {
    background-color: LightGray;
}
